.avatar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  &.avatar-input {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    .add-avatar {
      font-weight: bold;
      display: none;
    }
  
    &:hover {
      opacity: .5;
      .add-avatar {
        display: initial;
      }
    }
  }
}