
@import 'global-variables.scss';

.register-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../../assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.register-card {
  width: 400px;
  background-color: rgba(0,0,0,0.3) !important;
  
  .card-header {
    position: relative;
    h3 {
      color: white;
    }
  }
  
  .card-body {
    .user-detail {
      display: flex;
      justify-content: space-between;
      .surname {
        width: 60%;
        margin-right: 15px;
      }
    }
  
    .input-group-prepend {
      span {
        width: 40px;
        background-color: $primary-yellow;
        color: black;
        border:0 !important;
      }
    }
    
    input {
      height: 45px !important;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: $primary-yellow !important;
      }
    }
    
    .btn {
      min-width: 100px;
      float: right;
    }
  }
  
  .card-footer {
    .links {
      color: white;
    }
  }
}



